nav ul li a {
  color: #ffa500;
}
#mobile-demo li a {
  color: #ffa500;
}
nav img {
  margin-top: 3px;
}
#last-nav-item {
  margin-right: 10px;
}
.fa-bars {
  color: #ffa500;
}
#logo {
  height: 70px;
  width: 250px;
  margin-left: 15px;
}
.dropdown-content li a {
  color: #ffa500;
}
.parallax-container {
  height: 250px;
}
main img {
  display: block;
  margin: auto;
  margin-top: 2em;
}
section {
  color: #616161;
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 18px;
}
section li {
  margin: 2px 0;
}
@media (max-width: 499px) {
  #logo {
    height: 60px;
  }
}
