nav ul li a
  color orange

#mobile-demo li a
  color orange

nav img
  margin-top 3px

#last-nav-item
  margin-right 10px

.fa-bars
  color orange

#logo
  height 70px
  width 250px
  margin-left 15px


.dropdown-content li a
  color orange

#cards
  margin-top 2em;

.cardTitle
  text-align center

.comp-desc
  text-align center

hr
  display block
  margin-top 1em
  margin-bottom 0.5em
  margin-left auto
  margin-right auto
  border-width 1.2px
  width 10%
  border-color orange

.about-us
  width: 70%
  margin-left auto
  margin-right auto
  margin-top 1em
  margin-bottom 1em

.tpar
  margin-top -0.4em

.parallax-text
  font-size 20px

.parallax-text2
  font-size 19px

.card-image img
  height 200px

@media (min-width: 500px)
  #par-btn
    margin-top 5px

  .carousel-pic
    height 400px
    width 600px

@media (min-width: 700px)
  .parallax-text2
    line-height 30px

@media (max-width: 500px)
  #fir
    margin-left 0%

@media (min-width: 1351px)
  .card-image img
    height 150px

  .card
    width 225px

  #fir
    margin-left 14%

  #cards .nb
    margin-left 40px

@media (min-width: 1200px) and (max-width: 1350px)
  .card-image img
    height 150px

  .card
    width 215px

  #fir
    margin-left 12%

  #cards .nb
    margin-left 40px


@media (min-width: 1051px) and (max-width: 1199px)
  .card-image img
    height 150px

  .card
    width 205px

  #fir
    margin-left 10%

  #cards .nb
    margin-left 50px


@media (min-width: 900px) and (max-width: 1050px)
  .card-image img
    height 150px

  .card
    width 180px

  #fir
    margin-left 7%

  #cards .nb
    margin-left 50px


@media (min-width: 800px) and (max-width: 899px)
  .card-image img
    height 150px

  .card
    width 170px

  #fir
    margin-left 4%

  #cards .nb
    margin-left 45px

@media (min-width: 651px) and (max-width: 799px)
  .card-image img
    height 150px

  .card
    width 140px

  #fir
    margin-left 2%

  #cards .nb
    margin-left 50px

@media (min-width: 601px) and (max-width: 650px)
  .card-image img
    height 130px

  .card
    width 130px

  #fir
    margin-left 2%

  #cards .nb
    margin-left 40px

@media (max-width: 500px)
  .carousel-pic
    height 200px
    width 600px

  #logo
    height 60px

footer.page-footer
  margin 0
