nav ul li a {
  color: #ffa500;
}
#mobile-demo li a {
  color: #ffa500;
}
nav img {
  margin-top: 3px;
}
#last-nav-item {
  margin-right: 10px;
}
.fa-bars {
  color: #ffa500;
}
#logo {
  height: 60px;
  width: 250px;
  margin-left: 15px;
}
.dropdown-content li a {
  color: #ffa500;
}
#cards {
  margin-top: 2em;
}
.cardTitle {
  text-align: center;
}
.comp-desc {
  text-align: center;
}
hr {
  display: block;
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-width: 1.2px;
  width: 10%;
  border-color: #ffa500;
}
.about-us {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
.parallax-text {
  font-size: 17px;
}
@media (min-width: 500px) {
  #par-btn {
    margin-top: 5px;
  }
  .carousel-pic {
    height: 400px;
    width: 600px;
  }
  .card-image {
    height: 200px;
  }
}
@media (min-width: 800px) and (max-width: 1050px) {
  .card-image {
    height: 150px;
  }
}
@media (min-width: 651px) and (max-width: 799px) {
  .card-image {
    height: 120px;
  }
}
@media (min-width: 501px) and (max-width: 650px) {
  .card-image {
    height: 100px;
  }
}
@media (max-width: 500px) {
  .carousel-pic {
    height: 200px;
    width: 600px;
  }
}
footer.page-footer {
  margin: 0;
}
