nav ul li a {
  color: #ffa500;
}
#mobile-demo li a {
  color: #ffa500;
}
nav img {
  margin-top: 3px;
}
#last-nav-item {
  margin-right: 10px;
}
.fa-bars {
  color: #ffa500;
}
#logo {
  height: 60px;
  width: 250px;
  margin-left: 15px;
}
.dropdown-content li a {
  color: #ffa500;
}
.parallax-container {
  height: 250px;
}
#fact-list {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 3%;
}
#fact-list li {
  list-style-type: disc;
  list-style-position: inside;
}
section {
  color: #616161;
  margin-top: 3em;
  margin-bottom: 3em;
}
section li {
  margin: 2px 0;
}
