nav ul li a {
  color: #ffa500;
}
#mobile-demo li a {
  color: #ffa500;
}
nav img {
  margin-top: 3px;
}
#last-nav-item {
  margin-right: 10px;
}
.fa-bars {
  color: #ffa500;
}
#logo {
  height: 61px;
  width: 250px;
  margin-left: 15px;
}
.dropdown-content li a {
  color: #ffa500;
}
.parallax-container {
  height: 250px;
}
.title {
  width: 400px;
  text-align: center;
  margin-top: 3em;
}
#map {
  text-align: center;
  color: #616161;
  margin-top: 2em;
  font-size: 17px;
}
#map a {
  color: #ffa726;
}
#map a:hover {
  color: #616161;
}
#tile-pics {
  list-style-type: none;
  overflow: hidden;
}
#tile-pics li {
  float: left;
}
#tile-pics .first {
  margin-left: 10px;
}
#tile-pics .second {
  margin-left: 40px;
  margin-bottom: 3em;
}
.top {
  height: 400px;
  width: 400px;
  margin-bottom: 0.5em;
}
.bot {
  height: 175px;
  width: 175px;
}
.four {
  height: 90px;
  width: 90px;
  margin-right: 8px;
}
.three {
  height: 120px;
  width: 120px;
  margin-right: 8px;
}
.right-content {
  margin-top: 9em;
  line-height: 40px;
}
#fact-list {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 3%;
}
#fact-list li {
  list-style-type: disc;
  list-style-position: inside;
}
@media (max-width: 600px) {
  #logo {
    height: 53px;
  }
}
@media (min-width: 1101px) and (max-width: 1300px) {
  .top {
    height: 350px;
    width: 350px;
    margin-bottom: 0.5em;
  }
  .bot {
    height: 150px;
    width: 150px;
  }
  .three {
    height: 110px;
    width: 110px;
    margin-right: 6px;
  }
  .four {
    height: 83px;
    width: 83px;
    margin-right: 5px;
  }
  .title {
    width: 350px;
    text-align: center;
    margin-top: 3em;
  }
}
@media (min-width: 750px) and (max-width: 1100px) {
  .top {
    height: 300px;
    width: 300px;
    margin-bottom: 0.5em;
  }
  .bot {
    height: 125px;
    width: 125px;
  }
  .three {
    height: 95px;
    width: 95px;
    margin-right: 5px;
  }
  .four {
    height: 80px;
    width: 80px;
    margin-right: 5px;
  }
  .title {
    width: 300px;
    text-align: center;
    margin-top: 3em;
  }
  .right-content {
    margin-top: 9em;
    line-height: 35px;
  }
}
@media (min-width: 671px) and (max-width: 749px) {
  .top {
    height: 275px;
    width: 275px;
    margin-bottom: 0.5em;
  }
  .bot {
    height: 125px;
    width: 125px;
  }
  .three {
    height: 85px;
    width: 85px;
    margin-right: 5px;
  }
  .four {
    height: 75px;
    width: 75px;
    margin-right: 5px;
  }
  .title {
    width: 275px;
    text-align: center;
  }
  .right-content {
    margin-top: 7em;
    line-height: 30px;
  }
  #tile-pics .first {
    margin-left: 5px;
  }
  #tile-pics .second {
    margin-left: 20px;
    margin-bottom: 3em;
  }
}
@media (min-width: 551px) and (max-width: 670px) {
  .top {
    height: 225px;
    width: 225px;
    margin-bottom: 0.5em;
  }
  .bot {
    height: 100px;
    width: 100px;
  }
  .three {
    height: 80px;
    width: 80px;
    margin-right: 3px;
  }
  .four {
    height: 50px;
    width: 50px;
    margin-right: 5px;
  }
  #tile-pics .first {
    margin-left: 5px;
  }
  #tile-pics .second {
    margin-left: 20px;
    margin-bottom: 3em;
  }
  .title {
    width: 225px;
    text-align: center;
  }
  .right-content {
    margin-top: 7em;
    line-height: 25px;
  }
}
@media (min-width: 350px) and (max-width: 550px) {
  .top {
    height: 300px;
    width: 300px;
    margin-bottom: 0.5em;
  }
  .bot {
    height: 135px;
    width: 135px;
  }
  #tile-pics .first {
    margin-left: 5px;
  }
  #tile-pics .second {
    margin-left: 25px;
    margin-bottom: 3em;
  }
  .title {
    width: 300px;
    text-align: center;
  }
  .right-content {
    margin-top: 3em;
    line-height: 25px;
  }
}
@media (min-width: 300px) and (max-width: 349px) {
  .top {
    height: 300px;
    width: 300px;
    margin-bottom: 0.5em;
  }
  .bot {
    height: 130px;
    width: 130px;
  }
  .title {
    width: 300px;
    text-align: center;
  }
  #tile-pics .first {
    margin-left: 8px;
  }
  #tile-pics .second {
    margin-left: 20px;
    margin-bottom: 3em;
  }
}
